<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/home"></ion-back-button>
        </ion-buttons>
        <ion-title slot="start">
            CARNAME
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div>
        <ion-list>
            <ion-item>
                <ion-img src="../../assets/img/cars/car2.jpg"></ion-img>
            </ion-item>
            <ion-item>
                <ion-label>
                    <p>{{ 'KILOMETERS' | translate}}</p>
                    <h3>xxxx</h3>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <p>{{ 'PRICE' | translate}}</p>
                    <h3>xxxx</h3>
                </ion-label>
            </ion-item>

            <!-- description attributes -->
            <ion-item>
                <ion-label>
                    <p>{{ 'DESCRIPTION' | translate}}</p>
                    <h3>xxxx</h3>
                </ion-label>
            </ion-item>

            <!-- state attributes -->
            <ion-item class="center section" (click)="hide('state')">
                <ion-label>
                    {{ 'STATE' | translate }}
                </ion-label>
                <ion-icon name="caret-down-outline" slot="end"></ion-icon>
            </ion-item>

            <ion-items *ngIf="hideState">
                <ion-item>
                    <ion-label>
                        <p>{{ 'CONDITION' | translate}}</p>
                        <h3>xxxx</h3>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label>
                        <p>{{ 'PREVIOUSOWNERS' | translate}}</p>
                        <h3>xxxx</h3>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label>
                        <p>{{ 'INSPECTIONNEW' | translate}}</p>
                        <h3>xxxx</h3>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label>
                        <p>{{ 'WARRANTY' | translate}}</p>
                        <h3>xxxx</h3>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label>
                        <p>{{ 'FULLSERVICE' | translate}}</p>
                        <h3>xxxx</h3>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label>
                        <p>{{ 'NONSMOKINGVEHICLE' | translate}}</p>
                        <h3>xxxx</h3>
                    </ion-label>
                </ion-item>

            </ion-items>

            <!-- performance attributes -->
            <ion-item class="center section" (click)="hide('performance')">
                <ion-label>
                    {{ 'PERFORMANCE' | translate }}
                </ion-label>
                <ion-icon name="caret-down-outline" slot="end"></ion-icon>
            </ion-item>

            <ion-items *ngIf="hidePerformance">
                <ion-item>
                    <ion-label>
                        <p>{{ 'GEARINGTYPE' | translate}}</p>
                        <h3>xxxx</h3>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label>
                        <p>{{ 'ENGINEVOLUME' | translate}}</p>
                        <h3>xxxx</h3>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label>
                        <p>{{ 'DRIVECHAIN' | translate}}</p>
                        <h3>xxxx</h3>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label>
                        <p>{{ 'CYLINDERS' | translate}}</p>
                        <h3>xxxx</h3>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label>
                        <p>{{ 'HORSEPOWER' | translate}}</p>
                        <h3>xxxx</h3>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label>
                        <p>{{ 'TORQUE' | translate}}</p>
                        <h3>xxxx</h3>
                    </ion-label>
                </ion-item>

            </ion-items>

            <!-- environment attributes -->
            <ion-item class="center section" (click)="hide('environment')">
                <ion-label>
                    {{ 'ENVIRONMENT' | translate }}
                </ion-label>
                <ion-icon name="caret-down-outline" slot="end"></ion-icon>
            </ion-item>

            <ion-items *ngIf="hideEnvironment">
                <ion-item>
                    <ion-label>
                        <p>{{ 'FUEL' | translate}}</p>
                        <h3>xxxx</h3>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label>
                        <p>{{ 'CONSUMPTION' | translate}}</p>
                        <h3>xxxx</h3>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label>
                        <p>{{ 'CO2EMISSION' | translate}}</p>
                        <h3>xxxx</h3>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label>
                        <p>{{ 'EMISSIONCLASS' | translate}}</p>
                        <h3>xxxx</h3>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label>
                        <p>{{ 'EMISSIONLABEL' | translate}}</p>
                        <h3>xxxx</h3>
                    </ion-label>
                </ion-item>

            </ion-items>

            <!-- properties attributes -->
            <ion-item class="center section" (click)="hide('properties')">
                <ion-label>
                    {{ 'PROPERTIES' | translate }}
                </ion-label>
                <ion-icon name="caret-down-outline" slot="end"></ion-icon>
            </ion-item>

            <ion-items *ngIf="hideProperties">
                <ion-item>
                    <ion-label>
                        <p>{{ 'BRAND' | translate}}</p>
                        <h3>xxxx</h3>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label>
                        <p>{{ 'MODEL' | translate}}</p>
                        <h3>xxxx</h3>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label>
                        <p>{{ 'FIRSTREGISTRATION' | translate}}</p>
                        <h3>xxxx</h3>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label>
                        <p>{{ 'EMISSIONCLASS' | translate}}</p>
                        <h3>xxxx</h3>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label>
                        <p>{{ 'BODYCOLOR' | translate}}</p>
                        <h3>xxxx</h3>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label>
                        <p>{{ 'PAINTTYPE' | translate}}</p>
                        <h3>xxxx</h3>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label>
                        <p>{{ 'BODYCOLORORIGINAL' | translate}}</p>
                        <h3>xxxx</h3>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label>
                        <p>{{ 'INTERIORFITTINGS' | translate}}</p>
                        <h3>xxxx</h3>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label>
                        <p>{{ 'INTERIORCOLORS' | translate}}</p>
                        <h3>xxxx</h3>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label>
                        <p>{{ 'BODY' | translate}}</p>
                        <h3>xxxx</h3>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label>
                        <p>{{ 'NROFDOORS' | translate}}</p>
                        <h3>xxxx</h3>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label>
                        <p>{{ 'NROFSEATS' | translate}}</p>
                        <h3>xxxx</h3>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label>
                        <p>{{ 'MODELCODE' | translate}}</p>
                        <h3>xxxx</h3>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label>
                        <p>{{ 'COUNTRYVERSION' | translate}}</p>
                        <h3>xxxx</h3>
                    </ion-label>
                </ion-item>

            </ion-items>

            <!-- equipment attributes -->
            <ion-item class="center section" (click)="hide('equipment')">
                <ion-label>
                    {{ 'EQUIPMENT' | translate }}
                </ion-label>
                <ion-icon name="caret-down-outline" slot="end"></ion-icon>
            </ion-item>

            <ion-items *ngIf="hideEquipment">
                <ion-item>
                    <ion-label>
                        <p>{{ 'COMFORTANDCONVENIENCE' | translate}}</p>
                        <h3>xxxx</h3>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label>
                        <p>{{ 'ENTERTAINMENTANDMEDIA' | translate}}</p>
                        <h3>xxxx</h3>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label>
                        <p>{{ 'EXTRAS' | translate}}</p>
                        <h3>xxxx</h3>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label>
                        <p>{{ 'SAFETYANDSECURITY' | translate}}</p>
                        <h3>xxxx</h3>
                    </ion-label>
                </ion-item>

            </ion-items>

        </ion-list>
    </div>

</ion-content>