<ion-header>
    <ion-toolbar>
        <ion-title class="center">
            <img src="../../assets/img/car-logo.png" id="img">
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <form [formGroup]="validations_form">
        <ion-list>
            <div class="center">
                <img class="car-photo" src="../../assets/img/cars/car3.jpg">
                <br>
                <ion-button type="submit" value="addPhoto">
                    <ion-icon name="add" slot="start"></ion-icon>
                    {{ 'ADDPHOTO' | translate }}
                </ion-button>
            </div>

            <ion-item>
                <ion-label>
                    {{ 'CARNAME' | translate }}
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-input type="text" formControlName="carName" id="carNameinput" placeholder="{{ 'ENTERCARNAME' | translate }}" #carName required></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.carName">
                    <div class="error-message" *ngIf="validations_form.get('carName').hasError(validation.type) && (validations_form.get('carName').dirty || validations_form.get('carName').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                </ng-container>
            </div>
            <ion-item>
                <ion-label>
                    {{ 'KILOMETERS' | translate }}
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-input type="number" min="0" max="200" formControlName="kilometers" placeholder="{{ 'ENTERCARKILOMETERS' | translate }}" id="kilometersinput" #kilometers required>
                </ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.kilometers">
                    <div class="error-message" *ngIf="validations_form.get('kilometers').hasError(validation.type) && (validations_form.get('kilometers').dirty || validations_form.get('kilometers').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                </ng-container>
            </div>
            <ion-item>
                <ion-label>
                    {{ 'PRICE' | translate }}
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-input type="number" min="0" max="200" formControlName="price" placeholder="{{ 'ENTERCARPRICE' | translate }}" id="priceinput" #price required></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.price">
                    <div class="error-message" *ngIf="validations_form.get('price').hasError(validation.type) && (validations_form.get('price').dirty || validations_form.get('price').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                </ng-container>
            </div>

            <!-- description attributes -->
            <ion-item>
                <ion-label>
                    {{ 'DESCRIPTION' | translate }}
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-textarea id="descriptioninput" formControlName="description" placeholder="{{ 'ENTERCARDESCRIPTION' | translate }}" #description required></ion-textarea>
            </ion-item>

            <!-- state attributes -->

            <ion-item class="center section" (click)="hide('state')">
                <ion-label>
                    {{ 'STATE' | translate }}
                </ion-label>
                <ion-icon name="caret-down-outline" slot="end"></ion-icon>
            </ion-item>

            <ion-list *ngIf="hideState">

                <ion-item>
                    <ion-label>
                        {{ 'CONDITION' | translate }}
                    </ion-label>
                    <ion-select [(ngModel)]="condition" [ngModelOptions]="{standalone: true}" slot="end" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="{{ 'SELECTONE' | translate }}" id='condition' (ionChange)="onSelectChange($event)" aria-required="required">
                        <ion-select-option *ngFor="let user of users">{{user.first}}</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'PREVIOUSOWNERS' | translate }}
                    </ion-label>
                    <ion-select [(ngModel)]="previousOwners" [ngModelOptions]="{standalone: true}" slot="end" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="{{ 'SELECTONE' | translate }}" id='previousOwners' (ionChange)="onSelectChange($event)"
                        aria-required="required">
                        <ion-select-option *ngFor="let user of users">{{user.first}}</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'INSPECTIONNEW' | translate }}
                    </ion-label>
                    <ion-select [(ngModel)]="inspectionNew" [ngModelOptions]="{standalone: true}" slot="end" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="{{ 'SELECTONE' | translate }}" id='inspectionNew' (ionChange)="onSelectChange($event)"
                        aria-required="required">
                        <ion-select-option *ngFor="let user of users">{{user.first}}</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'WARRANTY' | translate }}
                    </ion-label>
                    <ion-select [(ngModel)]="warranty" [ngModelOptions]="{standalone: true}" slot="end" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="{{ 'SELECTONE' | translate }}" id='warranty' (ionChange)="onSelectChange($event)" aria-required="required">
                        <ion-select-option *ngFor="let user of users">{{user.first}}</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'FULLSERVICE' | translate }}
                    </ion-label>
                    <ion-select [(ngModel)]="fullService" [ngModelOptions]="{standalone: true}" slot="end" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="{{ 'SELECTONE' | translate }}" id='fullService' (ionChange)="onSelectChange($event)" aria-required="required">
                        <ion-select-option *ngFor="let user of users">{{user.first}}</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'NONSMOKINGVEHICLE' | translate }}
                    </ion-label>
                    <ion-select [(ngModel)]="nonSmokingVehicle" [ngModelOptions]="{standalone: true}" slot="end" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="{{ 'SELECTONE' | translate }}" id='nonSmokingVehicle' (ionChange)="onSelectChange($event)"
                        aria-required="required">
                        <ion-select-option *ngFor="let user of users">{{user.first}}</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-list>

            <!-- performance attributes -->
            <ion-item class="center section" (click)="hide('performance')">
                <ion-label>
                    {{ 'PERFORMANCE' | translate }}
                </ion-label>
                <ion-icon name="caret-down-outline" slot="end"></ion-icon>
            </ion-item>

            <ion-list *ngIf="hidePerformance">
                <ion-item>
                    <ion-label>
                        {{ 'GEARINGTYPE' | translate }}
                    </ion-label>
                    <ion-select [(ngModel)]="gearingType" [ngModelOptions]="{standalone: true}" slot="end" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="{{ 'SELECTONE' | translate }}" id='gearingType' (ionChange)="onSelectChange($event)" aria-required="required">
                        <ion-select-option *ngFor="let user of users">{{user.first}}</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'ENGINEVOLUME' | translate }}
                    </ion-label>
                    <ion-select [(ngModel)]="engineVolume" [ngModelOptions]="{standalone: true}" slot="end" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="{{ 'SELECTONE' | translate }}" id='engineVolume' (ionChange)="onSelectChange($event)" aria-required="required">
                        <ion-select-option *ngFor="let user of users">{{user.first}}</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'DRIVECHAIN' | translate }}
                    </ion-label>
                    <ion-select [(ngModel)]="driveChain" [ngModelOptions]="{standalone: true}" slot="end" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="{{ 'SELECTONE' | translate }}" id='driveChain' (ionChange)="onSelectChange($event)" aria-required="required">
                        <ion-select-option *ngFor="let user of users">{{user.first}}</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'CYLINDERS' | translate }}
                    </ion-label>
                    <ion-select [(ngModel)]="cylinders" [ngModelOptions]="{standalone: true}" slot="end" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="{{ 'SELECTONE' | translate }}" id='cylinders' (ionChange)="onSelectChange($event)" aria-required="required">
                        <ion-select-option *ngFor="let user of users">{{user.first}}</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'HORSEPOWER' | translate }}
                    </ion-label>
                    <ion-select [(ngModel)]="horsePower" [ngModelOptions]="{standalone: true}" slot="end" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="{{ 'SELECTONE' | translate }}" id='horsePower' (ionChange)="onSelectChange($event)" aria-required="required">
                        <ion-select-option *ngFor="let user of users">{{user.first}}</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'TORQUE' | translate }}
                    </ion-label>
                    <ion-select [(ngModel)]="torque" [ngModelOptions]="{standalone: true}" slot="end" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="{{ 'SELECTONE' | translate }}" id='torque' (ionChange)="onSelectChange($event)" aria-required="required">
                        <ion-select-option *ngFor="let user of users">{{user.first}}</ion-select-option>
                    </ion-select>
                </ion-item>

            </ion-list>

            <!-- environment attributes -->
            <ion-item class="center section" (click)="hide('environment')">
                <ion-label>
                    {{ 'ENVIRONMENT' | translate }}
                </ion-label>
                <ion-icon name="caret-down-outline" slot="end"></ion-icon>
            </ion-item>

            <ion-list *ngIf="hideEnvironment">
                <ion-item>
                    <ion-label>
                        {{ 'FUEL' | translate }}
                    </ion-label>
                    <ion-select [(ngModel)]="fuel" [ngModelOptions]="{standalone: true}" slot="end" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="{{ 'SELECTONE' | translate }}" id='fuel' (ionChange)="onSelectChange($event)" aria-required="required">
                        <ion-select-option *ngFor="let user of users">{{user.first}}</ion-select-option>
                    </ion-select>
                </ion-item>


                <ion-item>
                    <ion-label>
                        {{ 'CONSUMPTION' | translate }}
                    </ion-label>
                    <ion-select [(ngModel)]="consumption" [ngModelOptions]="{standalone: true}" slot="end" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="{{ 'SELECTONE' | translate }}" id='consumption' (ionChange)="onSelectChange($event)" aria-required="required">
                        <ion-select-option *ngFor="let user of users">{{user.first}}</ion-select-option>
                    </ion-select>
                </ion-item>


                <ion-item>
                    <ion-label>
                        {{ 'CO2EMISSION' | translate }}
                    </ion-label>
                    <ion-select [(ngModel)]="CO2Emission" [ngModelOptions]="{standalone: true}" slot="end" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="{{ 'SELECTONE' | translate }}" id='CO2Emission' (ionChange)="onSelectChange($event)" aria-required="required">
                        <ion-select-option *ngFor="let user of users">{{user.first}}</ion-select-option>
                    </ion-select>
                </ion-item>


                <ion-item>
                    <ion-label>
                        {{ 'EMISSIONCLASS' | translate }}
                    </ion-label>
                    <ion-select [(ngModel)]="emissionClass" [ngModelOptions]="{standalone: true}" slot="end" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="{{ 'SELECTONE' | translate }}" id='emissionClass' (ionChange)="onSelectChange($event)"
                        aria-required="required">
                        <ion-select-option *ngFor="let user of users">{{user.first}}</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'EMISSIONLABEL' | translate }}
                    </ion-label>
                    <ion-select [(ngModel)]="emissionLabel" [ngModelOptions]="{standalone: true}" slot="end" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="{{ 'SELECTONE' | translate }}" id='emissionLabel' (ionChange)="onSelectChange($event)"
                        aria-required="required">
                        <ion-select-option *ngFor="let user of users">{{user.first}}</ion-select-option>
                    </ion-select>
                </ion-item>

            </ion-list>

            <!-- properties attributes -->
            <ion-item class="center section" (click)="hide('properties')">
                <ion-label>
                    {{ 'PROPERTIES' | translate }}
                </ion-label>
                <ion-icon name="caret-down-outline" slot="end"></ion-icon>
            </ion-item>

            <ion-list *ngIf="hideProperties">
                <ion-item>
                    <ion-label>
                        {{ 'BRAND' | translate }}
                    </ion-label>
                    <ion-select [(ngModel)]="brand" [ngModelOptions]="{standalone: true}" slot="end" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="{{ 'SELECTONE' | translate }}" id='brand' (ionChange)="onSelectChange($event)" aria-required="required">
                        <ion-select-option *ngFor="let user of users">{{user.first}}</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'MODEL' | translate }}
                    </ion-label>
                    <ion-select [(ngModel)]="model" [ngModelOptions]="{standalone: true}" slot="end" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="{{ 'SELECTONE' | translate }}" id='model' (ionChange)="onSelectChange($event)" aria-required="required">
                        <ion-select-option *ngFor="let user of users">{{user.first}}</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'FIRSTREGISTRATION' | translate }}
                    </ion-label>
                    <ion-select [(ngModel)]="firstRegistration" [ngModelOptions]="{standalone: true}" slot="end" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="{{ 'SELECTONE' | translate }}" id='firstRegistration' (ionChange)="onSelectChange($event)"
                        aria-required="required">
                        <ion-select-option *ngFor="let user of users">{{user.first}}</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'BODYCOLOR' | translate }}
                    </ion-label>
                    <ion-select [(ngModel)]="bodyColor" [ngModelOptions]="{standalone: true}" slot="end" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="{{ 'SELECTONE' | translate }}" id='bodyColor' (ionChange)="onSelectChange($event)" aria-required="required">
                        <ion-select-option *ngFor="let user of users">{{user.first}}</ion-select-option>
                    </ion-select>
                </ion-item>


                <ion-item>
                    <ion-label>
                        {{ 'PAINTTYPE' | translate }}
                    </ion-label>
                    <ion-select [(ngModel)]="paintType" [ngModelOptions]="{standalone: true}" slot="end" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="{{ 'SELECTONE' | translate }}" id='paintType' (ionChange)="onSelectChange($event)" aria-required="required">
                        <ion-select-option *ngFor="let user of users">{{user.first}}</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'BODYCOLORORIGINAL' | translate }}
                    </ion-label>
                    <ion-select [(ngModel)]="bodyColorOriginal" [ngModelOptions]="{standalone: true}" slot="end" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="{{ 'SELECTONE' | translate }}" id='bodyColorOriginal' (ionChange)="onSelectChange($event)"
                        aria-required="required">
                        <ion-select-option *ngFor="let user of users">{{user.first}}</ion-select-option>
                    </ion-select>
                </ion-item>


                <ion-item>
                    <ion-label>
                        {{ 'INTERIORFITTINGS' | translate }}
                    </ion-label>
                    <ion-select [(ngModel)]="interiorFittings" [ngModelOptions]="{standalone: true}" slot="end" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="{{ 'SELECTONE' | translate }}" id='interiorFittings' (ionChange)="onSelectChange($event)"
                        aria-required="required">
                        <ion-select-option *ngFor="let user of users">{{user.first}}</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'INTERIORCOLORS' | translate }}
                    </ion-label>
                    <ion-select [(ngModel)]="interiorColors" [ngModelOptions]="{standalone: true}" slot="end" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="{{ 'SELECTONE' | translate }}" id='interiorColors' (ionChange)="onSelectChange($event)"
                        aria-required="required">
                        <ion-select-option *ngFor="let user of users">{{user.first}}</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'BODY' | translate }}
                    </ion-label>
                    <ion-select [(ngModel)]="body" [ngModelOptions]="{standalone: true}" slot="end" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="{{ 'SELECTONE' | translate }}" id='body' (ionChange)="onSelectChange($event)" aria-required="required">
                        <ion-select-option *ngFor="let user of users">{{user.first}}</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'NROFDOORS' | translate }}
                    </ion-label>
                    <ion-select [(ngModel)]="NrofDoors" [ngModelOptions]="{standalone: true}" slot="end" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="{{ 'SELECTONE' | translate }}" id='NrofDoors' (ionChange)="onSelectChange($event)" aria-required="required">
                        <ion-select-option *ngFor="let user of users">{{user.first}}</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'NROFSEATS' | translate }}
                    </ion-label>
                    <ion-select [(ngModel)]="NrofSeats" [ngModelOptions]="{standalone: true}" slot="end" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="{{ 'SELECTONE' | translate }}" id='NrofSeats' (ionChange)="onSelectChange($event)" aria-required="required">
                        <ion-select-option *ngFor="let user of users">{{user.first}}</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'MODELCODE' | translate }}
                    </ion-label>
                    <ion-select [(ngModel)]="modelCode" [ngModelOptions]="{standalone: true}" slot="end" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="{{ 'SELECTONE' | translate }}" id='modelCode' (ionChange)="onSelectChange($event)" aria-required="required">
                        <ion-select-option *ngFor="let user of users">{{user.first}}</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'COUNTRYVERSION' | translate }}
                    </ion-label>
                    <ion-select [(ngModel)]="countryVersion" [ngModelOptions]="{standalone: true}" slot="end" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="{{ 'SELECTONE' | translate }}" id='countryVersion' (ionChange)="onSelectChange($event)"
                        aria-required="required">
                        <ion-select-option *ngFor="let user of users">{{user.first}}</ion-select-option>
                    </ion-select>
                </ion-item>

            </ion-list>

            <!-- equipment attributes -->
            <ion-item class="center section" (click)="hide('equipment')">
                <ion-label>
                    {{ 'EQUIPMENT' | translate }}
                </ion-label>
                <ion-icon name="caret-down-outline" slot="end"></ion-icon>
            </ion-item>

            <ion-list *ngIf="hideEquipment">
                <ion-item>
                    <ion-label>
                        {{ 'COMFORTANDCONVENIENCE' | translate }}
                    </ion-label>
                    <ion-select [(ngModel)]="comfortAndConvenience" [ngModelOptions]="{standalone: true}" slot="end" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="{{ 'SELECTONE' | translate }}" id='comfortAndConvenience' (ionChange)="onSelectChange($event)"
                        aria-required="required">
                        <ion-select-option *ngFor="let user of users">{{user.first}}</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'ENTERTAINMENTANDMEDIA' | translate }}
                    </ion-label>
                    <ion-select [(ngModel)]="entertainmentAndMedia" [ngModelOptions]="{standalone: true}" slot="end" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="{{ 'SELECTONE' | translate }}" id='entertainmentAndMedia' (ionChange)="onSelectChange($event)"
                        aria-required="required">
                        <ion-select-option *ngFor="let user of users">{{user.first}}</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'EXTRAS' | translate }}
                    </ion-label>
                    <ion-select [(ngModel)]="extras" [ngModelOptions]="{standalone: true}" slot="end" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="{{ 'SELECTONE' | translate }}" id='extras' (ionChange)="onSelectChange($event)" aria-required="required">
                        <ion-select-option *ngFor="let user of users">{{user.first}}</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'SAFETYANDSECURITY' | translate }}
                    </ion-label>
                    <ion-select [(ngModel)]="safetyAndSecurity" [ngModelOptions]="{standalone: true}" slot="end" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="{{ 'SELECTONE' | translate }}" id='safetyAndSecurity' (ionChange)="onSelectChange($event)"
                        aria-required="required">
                        <ion-select-option *ngFor="let user of users">{{user.first}}</ion-select-option>
                    </ion-select>
                </ion-item>

            </ion-list>

            <ion-button type="submit" expand="block" [disabled]="!validations_form.valid" value="AddCar">
                <ion-icon name="add" slot="start"></ion-icon>
                {{ 'ADDCAR' | translate }}
            </ion-button>
        </ion-list>

    </form>
</ion-content>