<ion-header>
    <ion-toolbar>
        <ion-title class="center">
            <img src="../../assets/img/car-logo.png" id="img">
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <form [formGroup]="validations_form">
        <ion-list>
            <ion-item>
                <ion-label>
                    {{ 'CARNAME' | translate }}
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-input type="text" formControlName="carName" id="carNameinput" placeholder="Enter Car Name" #carName required></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.carName">
                    <div class="error-message" *ngIf="validations_form.get('carName').hasError(validation.type) && (validations_form.get('carName').dirty || validations_form.get('carName').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                </ng-container>
            </div>
            <ion-item>
                <ion-label>
                    {{ 'KILOMETERS' | translate }}
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-input type="number" min="0" max="200" formControlName="kilometers" placeholder="Enter Car's Kilometers" id="kilometersinput" #kilometers required></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.kilometers">
                    <div class="error-message" *ngIf="validations_form.get('kilometers').hasError(validation.type) && (validations_form.get('kilometers').dirty || validations_form.get('kilometers').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                </ng-container>
            </div>
            <ion-item>
                <ion-label>
                    {{ 'PRICE' | translate }}
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-input type="number" min="0" max="200" formControlName="price" placeholder="Enter Car's Price" id="priceinput" #price required></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.price">
                    <div class="error-message" *ngIf="validations_form.get('price').hasError(validation.type) && (validations_form.get('price').dirty || validations_form.get('price').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                </ng-container>
            </div>

            <!-- state attributes -->

            <ion-item class="center section">
                <ion-label>
                    {{ 'STATE' | translate }}
                </ion-label>
            </ion-item>

            <ion-items>
                <ion-item>
                    <ion-label>
                        {{ 'CONDITION' | translate }}
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-input type="text" id="conditioninput" placeholder="Enter Condition" #condition required></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'PREVIOUSOWNERS' | translate }}
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-input type="text" id="previousOwnersinput" placeholder="Enter Previous Owners" #previousOwners required></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'INSPECTIONNEW' | translate }}
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-input type="text" id="inspectionNewinput" placeholder="Enter Inspection New" #inspectionNew required></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'WARRANTY' | translate }}
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-input type="text" id="warrantyinput" placeholder="Enter Warranty" #warranty required></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'FULLSERVICE' | translate }}
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-input type="text" id="fullServiceinput" placeholder="Enter Full Service" #fullService required></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'NONSMOKINGVEHICLE' | translate }}
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-input type="text" id="nonSmokingVehicleinput" placeholder="Enter Non Smoking Vehicle" #nonSmokingVehicle required></ion-input>
                </ion-item>
            </ion-items>

            <!-- performance attributes -->
            <ion-item class="center section">
                <ion-label>
                    {{ 'PERFORMANCE' | translate }}
                </ion-label>
            </ion-item>

            <ion-items>
                <ion-item>
                    <ion-label>
                        {{ 'GEARINGTYPE' | translate }}
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-input type="text" id="gearingTypeinput" placeholder="Enter Gearing Type" #gearingType required></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'ENGINEVOLUME' | translate }}
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-input type="text" id="engineVolumeinput" placeholder="Enter Engine Volume" #engineVolume required></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'DRIVECHAIN' | translate }}
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-input type="text" id="driveChaininput" placeholder="Enter Drive Chain" #driveChain required></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'CYLINDERS' | translate }}
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-input type="text" id="cylindersinput" placeholder="Enter Cylinders" #cylinders required></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'HOURSEPOWER' | translate }}
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-input type="text" id="hoursePowerinput" placeholder="Enter Hourse Power" #hoursePower required></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'TORQUE' | translate }}
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-input type="text" id="torqueinput" placeholder="Enter Torque" #torque required></ion-input>
                </ion-item>
            </ion-items>


            <!-- environment attributes -->
            <ion-item class="center section">
                <ion-label>
                    {{ 'ENVIRONMENT' | translate }}
                </ion-label>
            </ion-item>

            <ion-items>
                <ion-item>
                    <ion-label>
                        {{ 'FUEL' | translate }}
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-input type="text" id="fuelinput" placeholder="Enter Fuel" #fuel required></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'CONSUMPTION' | translate }}
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-input type="text" id="consumptioninput" placeholder="Enter Consumption" #consumption required></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'CO2EMISSION' | translate }}
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-input type="text" id="CO2Emissioninput" placeholder="Enter CO2Emission" #CO2Emission required></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'EMISSIONCLASS' | translate }}
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-input type="text" id="emissionClassinput" placeholder="Enter Emission Class" #emissionClass required></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'EMISSIONLABEL' | translate }}
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-input type="text" id="emissionLabelinput" placeholder="Enter Emission Label" #emissionLabel required></ion-input>
                </ion-item>

            </ion-items>

            <!-- properties attributes -->
            <ion-item class="center section">
                <ion-label>
                    {{ 'PROPERTIES' | translate }}
                </ion-label>
            </ion-item>

            <ion-items>
                <ion-item>
                    <ion-label>
                        {{ 'BRAND' | translate }}
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-input type="text" id="brandinput" placeholder="Enter Brand" #brand required></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'MODEL' | translate }}
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-input type="text" id="modelinput" placeholder="Enter Model" #model required></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'FIRSTREGISTRATION' | translate }}
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-input type="text" id="firstRegistrationinput" placeholder="Enter First Registration" #firstRegistration required></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'BODYCOLOR' | translate }}
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-input type="text" id="bodyColorinput" placeholder="Enter Body Color" #bodyColor required></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'PAINTTYPE' | translate }}
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-input type="text" id="paintTypeinput" placeholder="Enter Paint Type" #paintType required></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'BODYCOLORORIGINAL' | translate }}
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-input type="text" id="bodyColorOriginalinput" placeholder="Enter Body Color Original" #bodyColorOriginal required></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'INTERIORFITTINGS' | translate }}
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-input type="text" id="interiorFittingsinput" placeholder="Enter Interior Fittings" #interiorFittings required></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'INTERIORCOLORS' | translate }}
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-input type="text" id="interiorColorsinput" placeholder="Enter Interior Colors" #interiorColors required></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'BODY' | translate }}
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-input type="text" id="bodyinput" placeholder="Enter Body" #body required></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'NROFDOORS' | translate }}
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-input type="text" id="NrofDoorsinput" placeholder="Enter NrofDoors" #NrofDoors required></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'NROFSEATS' | translate }}
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-input type="text" id="NrofSeatsinput" placeholder="Enter NrofSeats" #NrofSeats required></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'MODELCODE' | translate }}
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-input type="text" id="modelCodeinput" placeholder="Enter Model Code" #modelCode required></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'COUNTRYVERSION' | translate }}
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-input type="text" id="countryVersioninput" placeholder="Enter Country Version" #countryVersion required></ion-input>
                </ion-item>

            </ion-items>

            <!-- equipment attributes -->
            <ion-item class="center section">
                <ion-label>
                    {{ 'EQUIPMENT' | translate }}
                </ion-label>
            </ion-item>

            <ion-items>

                <ion-item>
                    <ion-label>
                        {{ 'COMFORTANDCONVENIENCE' | translate }}
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-input type="text" id="comfortAndConvenienceinput" placeholder="Enter Comfort And Convenience" #comfortAndConvenience required></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'ENTERTAINMENTANDMEDIA' | translate }}
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-input type="text" id="entertainmentAndMediainput" placeholder="Enter Entertainment And Media" #entertainmentAndMedia required></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'EXTRAS' | translate }}
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-input type="text" id="extrasinput" placeholder="Enter Extras" #extras required></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label>
                        {{ 'SAFETYANDSECURITY' | translate }}
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-input type="text" id="safetyAndSecurityinput" placeholder="Enter Safety And Security" #safetyAndSecurity required></ion-input>
                </ion-item>

            </ion-items>

            <!-- description attributes -->
            <ion-item class="center section">
                <ion-label>
                    {{ 'DESCRIPTION' | translate }}
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-input type="text" id="descriptioninput" placeholder="Enter Description" #description required></ion-input>
            </ion-item>


            <br>
            <ion-button type="submit" expand="block" [disabled]="!validations_form.valid" value="AddCar">
                <ion-icon name="add" slot="start"></ion-icon>
                {{ 'ADDCAR' | translate }}
            </ion-button>
        </ion-list>

    </form>

</ion-content>