<ion-header>
    <ion-toolbar>
        <ion-title class="center">
            <img src="../../assets/img/car-logo.png" id="img">
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <!-- <div class="center car-s"></div> -->
    <div class="animated-car">
        <div class="hero">
            <div class="highway"></div>
            <div class="city"></div>
            <div class="car">
                <img src="../../assets/img/animated-car/car.png">
            </div>
            <div class="wheel">
                <img src="../../assets/img/animated-car/wheel.png" class="back-wheel">
                <img src="../../assets/img/animated-car/wheel.png" class="front-wheel">
            </div>
        </div>
    </div>

    <div class="search">

        <ion-searchbar placeholder="{{ 'SEARCH' | translate}}"></ion-searchbar>

        <ion-row>
            <ion-col size="4">
                <ion-select [interfaceOptions]="customAlertOptions" placeholder="{{ 'CATEGORY' | translate}}">
                    <ion-select-option value="1">1</ion-select-option>
                    <ion-select-option value="2">2</ion-select-option>
                </ion-select>
            </ion-col>
            <ion-col size="4">
                <ion-datetime [pickerOptions]="customPickerOptions" placeholder="{{ 'MINYEAR' | translate }}" displayFormat="YYYY" min="1960" max="2021" id="minYearinput"></ion-datetime>
            </ion-col>
            <ion-col size="4">
                <ion-datetime [pickerOptions]="customPickerOptions" placeholder="{{ 'MAXYEAR' | translate }}" displayFormat="YYYY" min="1960" max="2021" id="maxYearinput"></ion-datetime>
            </ion-col>
        </ion-row>

        <ion-item class="searchPrice">
            <ion-label>
                <p class="priceis">{{ 'PRICEIS' | translate}} {{rangeVal}} $</p>
            </ion-label>
        </ion-item>
        <ion-item class="searchPrice">
            <ion-range [(ngModel)]="rangeVal" min="100000" max="500000" step="10000" snaps="true" ticks="false"></ion-range>
            <ion-icon name="search-outline" slot="end"></ion-icon>
        </ion-item>


    </div>



</ion-content>