<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/home"></ion-back-button>
        </ion-buttons>
        <ion-title slot="start">{{ 'PREOWNEDCARS' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item class="ion-activatable ion-focusable ripple-parent" [routerLink]="['/tabs/car']">
            <ion-thumbnail slot="end">
                <img src="../../assets/img/car2.jpg">
            </ion-thumbnail>
            <ion-label>CAR1</ion-label>
        </ion-item>
    </ion-list>
</ion-content>